.add-new{
    height: 2rem;
}
.myphoto-content{
    height: 50rem;
}
.detail-photo{
    box-shadow:0 2px 10px gray;
    margin-top: 1rem;
    margin-left: 1rem;
    display: inline-block;
}
.custom-file{
    margin-bottom:1rem;
}
.title-post{
    border: 2px solid whitesmoke;
    box-shadow:0 2px 10px gray;
    padding: 0.5rem;
    text-align: center;
}
.img-album{
    width: 10rem;
    height: 10rem;
}
.img-album-edit{
    display: inline-block;
}